/* .Box {
    width: 700px;
    padding: 10px;
    border: 3px solid black;
    margin: 0px 430px 0px 430px;
    display: block;
  } */
h1{
    text-align: center;
    margin-top: 50px;
  }

h3{
    font-size: 30px;
    line-height: 1;
  }
.Restrictions {
  width: 475px;
  padding: 5px 15px 10px 15px;
  border: solid grey;
  margin: 15px 500px 0px 500px;
  float:left;
  border: 2px outset;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
}
.container{
  display:grid;
  grid-column: auto auto auto;
  width: auto;
}


#items1{
  grid-column: 1;
}
#items2{
  grid-column: 2;
}
#items3{
  grid-column: 3;
}



/* button */

/* body {
  background: #121212;
  height: 100%;
  font-family: "Playfair Display", serif;
  font-size: 16px;
} */

.containerbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
