
/* styling for the autocomplete is below */
.ui-autocomplete {
  max-height: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}
/* end of styling for the autocomplete */

#h1 {
    text-align: center;
    margin-top: 40px;
    z-index: 1;
    width: 70%;
    margin-left: 17.5%;
    margin-right: -18%;
    margin-bottom: 1%;
    font-size: 30px;
    color: #595656;
    font-family: 'Vollkorn', serif;
  }
  label{
    font-size: 25px;
  }
  form{
    height: 75%;
  }

h3{
    font-size: 30px;
    z-index: 1;
    color: #595656;
    font-family: 'Vollkorn', serif;
  }

h4{
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 80px;
    z-index: 1;
    grid-column: 2;
    grid-row: 3;
    margin: 15px;
    color: #595656;
    font-family: 'Vollkorn', serif;
  }

  input{
    word-spacing: 1.5px;
    z-index: 1;
  }

  label {
    font-size: 30px;
    color: #595656;
    font-family: 'Vollkorn', serif;
  }
.Page_container{
  display: grid;
  grid-column: auto;
  grid-row: auto auto auto auto auto auto;
  width: 70%;
  margin-top: -5%;
  margin-left: 25%;
  margin-bottom: -24.5%;

}

.accordion_Fruits {
  grid-column: 1;
  grid-row: 1;
  width: 65%;
  padding: 20px 20px 40px 20px;
  /* border: 2px outset; */
  border-radius: 40px 40px 40px 40px;
  border: 8px;
  /* margin: 10px 485px 0px 485px; */
  margin-bottom: 15px;
  margin-top: 4%;
  margin-left: 75px;
  box-shadow: 0 0 20px #DCDCDC;
  /* border-radius: 10px 10px 10px 10px; */
  font-size: 20px;
  z-index: 2;
}

.accordion_Vegetables {
  grid-column: 1;
  grid-row: 2;
  width: 65%;
  padding: 20px 20px 40px 20px;
  /* border: 2px outset; */
  border-radius: 40px 40px 40px 40px;
  border: 8px;
  /* margin: 10px 485px 0px 485px; */
  margin-bottom: 15px;
  margin-top: 1%;
  margin-left: 75px;
  box-shadow: 0 0 20px #DCDCDC;
  /* border-radius: 10px 10px 10px 10px; */
  font-size: 20px;
  z-index: 2;
}

.accordion_Meats{
  grid-column: 1;
  grid-row: 3;
  width: 65%;
  padding: 20px 20px 40px 20px;
  /* border: 2px outset; */
  border-radius: 40px 40px 40px 40px;
  border: 8px;
  /* margin: 10px 485px 0px 485px; */
  margin-bottom: 15px;
  margin-top: 1%;
  margin-left: 75px;
  box-shadow: 0 0 20px #DCDCDC;
  /* border-radius: 10px 10px 10px 10px; */
  font-size: 20px;
  z-index: 2;
}
.accordion_Condiments{
  grid-column: 1;
  grid-row: 5;
  width: 46%;
  padding: 20px 20px 40px 20px;
  /* border: 2px outset; */
  border-radius: 40px 40px 40px 40px;
  border: 8px;
  /* margin: 10px 485px 0px 485px; */
  margin-bottom: 15px;
  margin-top: -2%;
  margin-left: 30%;
  box-shadow: 0 0 20px #DCDCDC;
  /* border-radius: 10px 10px 10px 10px; */
  font-size: 20px;
  z-index: 2;
}
.accordion_Dairy{
  grid-column: 1;
  grid-row: 4;
  width: 20%;
  padding: 20px 20px 40px 20px;
  /* border: 2px outset; */
  border-radius: 40px 40px 40px 40px;
  border: 8px;
  /* margin: 10px 485px 0px 485px; */
  margin-bottom: 15px;
  margin-top: 16%;
  margin-left: 30%;
  margin-right: 10%;

  box-shadow: 0 0 20px #DCDCDC;
  /* border-radius: 10px 10px 10px 10px; */
  font-size: 20px;
  z-index: 2;

}
.accordion_Grains {
  grid-column: 1;
  grid-row: 4;
  width: 20%;
  padding: 20px 20px 40px 20px;
  /* border: 2px outset; */
  border-radius: 40px 40px 40px 40px;
  border: 8px;
  /* margin: 10px 485px 0px 485px; */
  margin-bottom: 15px;
  margin-top: -12%;
  margin-left: 56%;
  box-shadow: 0 0 20px #DCDCDC;
  /* border-radius: 10px 10px 10px 10px; */
  font-size: 20px;
  z-index: 2;

}


.ui-widget {
  grid-column: 1;
  grid-row: 6;
  height: 10%;
  width: 540px;
  padding: 10px 0px 15px 15px;
  /* border: 2px outset; */
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border: 8px #F8F8FF;
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: 0%;
  /* margin: 10px 485px 0px 485px; */
  /* box-shadow: 10px 10px 10px 10px 	#DCDCDC; */
  box-shadow: 0 0 20px #DCDCDC;
  /* border-radius: 10px 10px 10px 10px; */
  font-size: 20px;
  z-index: 2;
}


.container{
  display:grid;
  grid-column: auto auto auto;
  width: auto;
  z-index:1;
}



#items1{
  grid-column: 1;
  font-size: 23px;
  z-index: 1;
  color: #595656;
  font-family: 'Vollkorn', serif;
}
#items2{
  grid-column: 2;
  font-size: 23px;
  z-index: 1;
  color: #595656;
  font-family: 'Vollkorn', serif;
}
#items3{
  grid-column: 3;
  font-size: 23px;
  z-index: 1;
  color: #595656;
  font-family: 'Vollkorn', serif;
}
#next {
  float: right;
  margin-left: 78%;
  width:100px;
  height: 40px;
  z-index: 1;
  grid-column: 1;
  grid-row: 8;
  margin-top: -12.9%;
  margin-bottom: 50%;
  margin-right: 24%;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 20px #DCDCDC;
}
#fork{
  opacity:0.1px;
  width: 60px;
  height: 100px;
}
#spoon {
  opacity:0.1px;
  width: 70px;
  height: 90px;
}
#spatula{
  opacity:0.1px;
  width: 30px;
  height: 70px;
}
#Whisk{
  opacity:0.1px;
  width: 30px;
  height: 80px;
}
#tags{
  width: 80%;
}
.bubbles {
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0px;
}

.bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0px;
    -webkit-animation:  25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    z-index: 0;
    opacity: 0.2px;
}

.bubbles li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
    opacity: 0.2;
}
.bubbles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    opacity: 0.2;
}

.bubbles li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 15s;
    animation-duration: 18s;
    opacity: 0.2;
}

.bubbles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 90%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 20s;
    animation-duration: 22s;
    opacity: 0.2;
}

.bubbles li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 0%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
    opacity: 0.2;
}

@-webkit-keyframes  square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100%  {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}
html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -ms-font-smoothing: antialiased !important;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #555555;
  background-color: white;

}
.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.5);
}
.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
  background-color: rgba(0, 0, 0, 0.04);
}
.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color: #757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}
.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00ae4d;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #f96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33, 150, 243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: "FontAwesome";
  font-weight: 100;
  content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-family: "FontAwesome";
  font-weight: 100;
  content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: rgba(0, 0, 0, 0.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}
.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, 0.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #dddddd;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}
